/* global rules */
* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

* input:focus {
  outline: none;
}
/* body general rules*/
body {
  text-align: center;
  background-image: url("../bg.jpg");
  background-size: cover;
  color: white;
  min-height: 100vh;
  margin: 0;
}

.headerFeedPage {
  height: 6rem;
  text-align: left;
}

.headerImgFeedPage {
  width: 170px;
  height: auto;
  margin-left: 70px;
  margin-top: 40px;
}

nav {
  text-align: right;
  height: 8em;
}

main {
  max-width: 80%;
  margin: 0 auto;
}
.doughnut {
  height: 7em;
}

.h1FeedPage {
  font-size: 2rem;
  font-weight: 600;
  height: 7rem;
}

.h1ResultPage {
  font-size: 2rem;
  font-weight: 700;
}

.h2ResultPage {
  font-size: 1.5em;
}

.result {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.questionsBox {
  margin: 0 5%;
}

#risposte {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  height: 30vh;
}

#risposte button {
  flex-basis: calc(50% - 1em);
  margin: 0.5em;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  padding: 2em 1.5em;
  border-image: linear-gradient(180deg, #ffffff 80%, #595959 100%);
  /*border-image-slice: 1;
  border-image-width: 2px;*/
  border-radius: 50px;
  border: outset;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  cursor: pointer;
  height: 2.3em;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

#risposte button:hover {
  transition: 1000ms;
  padding: 2em 1.5em;
  transform: translateY(-0px);
  background: #b9008c;
  color: white;
}

p {
  margin-top: 2em;
}

button {
  text-align: center;
  /* margin: 2em 5em; */
}

.logo {
  width: 10em;
  height: auto;
}

.doughnut {
  height: auto;
}

.title {
  font-size: 60px;
}

.subTitle {
  font-size: 30px;
}

.results {
  display: flex;
  margin: 75px 0;
  justify-content: center;
}

.res-donut {
  display: flex;
  justify-content: center;
  width: auto;
  align-items: center;
}

.sideResultBox {
  display: flex;
  max-height: 4em;
}

.verticalCenter {
  display: flex;
  font-weight: 700;
  font-size: 0.8em;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  max-width: 20%;
}

.textCenter {
  display: flex;
  text-align: center;
}

.btn-rate {
  display: inline-block;
  border: 2px solid white;
  padding: 15px 50px;
  text-decoration: none;
  color: white;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.2);
}

.perc-correct {
  font-size: 4em;
}

.perc-wrong {
  font-size: 4em;
}

.res-right {
  font-size: 2em;
  font-weight: 300;
}

.res-wrong {
  font-size: 2em;
  font-weight: 300;
}

footer {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  margin-top: 5em;
}
footer p strong {
  color: #9b1e8d;
}
