* {
  font-family: "Inter", sans-serif;
}

* input:focus {
  outline: none;
}

body {
  text-align: center;
  background-image: url("../bg.jpg");
  background-size: cover;
  color: white;
}

header {
  height: 6rem;
  text-align: left;
}

header img {
  width: 170px;
  height: auto;
  margin-left: 70px;
  margin-top: 30px;
}

main {
  margin: 0 20%;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

#stars {
  height: 3rem;
  margin: 3rem;
}

.imggrayscale {
  margin-inline: 0.3rem;
  filter: grayscale(1);
}

.activestarsimg,
.imggrayscale:hover {
  filter: none;
  margin-inline: 0.3rem;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
  width: 100%;
}

input {
  background-color: transparent;
  border: 0;
  align-items: start;
  width: 100%;
  height: 2rem;
  color: white;
}

section {
  border-bottom: 5px solid;
  border-color: #c2138d;
  box-sizing: content-box;
  margin-top: 4rem;
}

.commentSection {
  margin: 0 5rem;
  padding: 0 1rem;
}

button {
  margin: 4rem 0;
  padding: 1.5rem 3rem;
  background-color: #01ffff;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 700;
  color: #0b1840;
  border: none;
}

button:hover {
  box-shadow: 2px 2px 15px #01ffff;
}
