/* global rules */
* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

* input:focus {
  outline: none;
}
/* body general rules*/
body {
  text-align: center;
  background-image: url("../bg.jpg");
  background-size: cover;
  color: white;
}
/* header rules*/
.headerFeedPage {
  height: 6rem;
  text-align: left;
}

.headerImgFeedPage {
  width: 170px;
  height: auto;
  margin-left: 70px;
  margin-top: 30px;
}

/* main section rules*/

.mainFeedPage {
  margin: 0 20%;
}

/* text rules*/

.h1FeedPage {
  font-size: 3rem;
  font-weight: 700;
}

.h2FeedPage {
  font-size: 1.7rem;
}
/* review stars rules */
#stars {
  height: auto;
  margin: 3rem;
}

.active,
.unactive:hover {
  fill: #01ffff;
  stroke: #01ffff;
}

.unactive {
  fill: #0b113b;
  stroke: #01ffff;
}

/* comment section rules*/

.sectionFeedPage {
  border-bottom: 5px solid;
  border-color: #c2138d;
  box-sizing: content-box;
  margin-top: 4rem;
}

.commentSection {
  margin: 0 5rem;
  padding: 0 1rem;
}

.pFeedPage {
  font-size: 1.5rem;
  font-weight: 300;
  width: 100%;
}

/* input box rules*/

.inputFeedPage {
  background-color: transparent;
  border: 0;
  align-items: start;
  width: 100%;
  height: 2rem;
  color: white;
  text-align: center;
}

/* button rules*/

.buttonFeedPage {
  margin: 4rem 0;
  padding: 1.5rem 3rem;
  background-color: #01ffff;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 700;
  color: #0b1840;
  border: none;
}

.buttonFeedPage:hover {
  box-shadow: 2px 2px 15px #01ffff;
}
