/* global rules */
* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

* input:focus {
  outline: none;
}

/* body general rules*/
body {
  text-align: center;
  background-image: url("../bg.jpg");
  background-size: cover;
  color: white;
  margin: 0;
}

.bodyBenchmark {
  min-height: 100vh;
}

/* header rules*/
.headerFeedPage {
  height: 6rem;
  text-align: left;
}

.headerImgFeedPage {
  width: 170px;
  height: auto;
  margin-left: 70px;
  margin-top: 40px;
}

/* main rules */

.mainWelcome {
  margin-left: 70px;
}

.mainBenchmark {
  max-width: 80%;
  margin: 0 auto;
}

/* nav rules */

nav {
  text-align: right;
  height: 8em;
}

/*Welcome to your exam*/

.content {
  text-align: left;
}

/*Title - INSTRUCTION*/

.content h1 {
  margin: 0;
  padding-top: 1em;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 4.2rem;
  line-height: 50px;
}

.content h3 {
  margin: 0;
  padding-top: 2em;
  font-family: "Outfit";
  font-size: 1.5rem;
  color: #c2128d;
}

/* Main paragraph - WE DON'T EXPECT...*/
.content p {
  margin: 0;
  padding-top: 10px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 18px;
}

/*LIST*/
.content ul {
  margin: 0;
  padding-top: 2em;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 23px;
}

/* CHECKBOX - content */
.checkbox {
  margin-left: 70px;
  padding-top: 4em;
  text-align: left;
}
.checkbox p {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
}

/* BUTTON*/
button {
  width: 180px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid #a6a6a6;
  border-radius: 2px;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 14em;
  color: #a6a6a6;
  text-align: center;
}

/*welcome page button rules*/
button a {
  text-decoration: none;
  color: #0b1840;
}

.button-shining {
  box-shadow: 2px 2px 15px #00ffff;
  background-color: #00ffff;
  border: none;
}

/*welcome page footer rules*/

.footerWelcome {
  margin-left: 70px;
}

/* doughnut rules bench page*/

.doughnut {
  height: 7em;
}

.h1FeedPage {
  font-size: 2rem;
  font-weight: 600;
  height: 7rem;
}

.h1Bench {
  font-size: 2.5rem;
  font-weight: 600;
  height: 6rem;
}

.h1ResultPage {
  font-size: 4rem;
  font-weight: 700;
}

.h2ResultPage {
  font-size: 2rem;
}

.result {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1em;
}

.questionsBox {
  margin: 0 5%;
}

#risposte {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  height: 30vh;
}

#risposte button {
  flex-basis: calc(50% - 1em);
  margin: 0.5em;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  padding: 2em 1.5em;
  border-image: linear-gradient(180deg, #ffffff 80%, #595959 100%);
  border-radius: 50px;
  border: outset;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  cursor: pointer;
  height: 2.3em;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

#risposte button:hover {
  transition: 1000ms;
  padding: 2em 1.5em;
  transform: translateY(-0px);
  background: #b9008c;
  color: white;
}

.results {
  display: flex;
  margin: 0 0 1.5em 0;
  justify-content: center;
}

.res-donut {
  display: flex;
  justify-content: center;
  width: auto;
  align-items: center;
}

.sideResultBox {
  display: flex;
  max-height: 4em;
}

.verticalCenter {
  display: flex;
  font-weight: 700;
  font-size: 0.8em;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  max-width: 20%;
}

.textCenter {
  display: flex;
  text-align: center;
}

.btn-rate {
  display: inline-block;
  border: 4px solid white;
  padding: 1.5em 3em;
  text-decoration: none;
  color: white;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
}

.perc-correct {
  font-size: 6rem;
}

.perc-wrong {
  font-size: 6rem;
}

.res-right {
  font-size: 2rem;
  font-weight: 300;
}

.res-wrong {
  font-size: 2rem;
  font-weight: 300;
}

.marginZero {
  margin: 0;
}
.marginZero p {
  margin-top: -0.1em;
}
.verticalCenter span {
  font-size: 4rem;
  font-weight: 300;
}

/* footer bench page*/
.footerBench {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  margin-top: 5em;
}
.footerBench p strong {
  color: #9b1e8d;
}

/* main section rules feed page*/

.mainFeedPage {
  margin: 0 30em;
  margin-top: 7em;
}

/* review stars feed page */
#stars {
  height: auto;
  margin: 3rem;
}

.active,
.unactive:hover {
  fill: #01ffff;
  stroke: #01ffff;
}

.unactive {
  fill: #0b113b;
  stroke: #01ffff;
}

/* comment section rules feed page*/

.sectionFeedPage {
  border-bottom: 5px solid;
  border-color: #c2138d;
  box-sizing: content-box;
  margin-top: 4rem;
}

.commentSection {
  margin: 0 5rem;
  padding: 0 1rem;
}

.pFeedPage {
  font-size: 1.5rem;
  font-weight: 300;
  width: 100%;
}

/* input box rules feed page*/

.inputFeedPage {
  background-color: transparent;
  border: 0;
  align-items: start;
  width: 100%;
  height: 2rem;
  color: white;
  text-align: center;
}

/* button rules feed page*/

.buttonFeedPage {
  margin: 4rem 0;
  background-color: #01ffff;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 700;
  color: #0b1840;
  border: none;
}

.buttonFeedPage:hover {
  box-shadow: 2px 2px 15px #01ffff;
}
