body{
    background-image: URL("../bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Per aggiustare tutto il contenuto nella stessa magine */
.main{
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 70px;
}



/* Image of the 'logo' */
body div img{
    width: 170px;
    height: auto;
}

/* content center*/
.content{
    
}

/*Welcome to your exam*/
.content h1{
    margin: 0;
    padding-top: 80px;
    font-family: 'Outfit', sans-serif;
    font-weight: 100;
    font-size: 60px;
    color:white;
    line-height: 50px;
    
}



/*Instruction*/
.content h3{
    margin: 0;
    padding-top: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    color: #c2128d;
}

/* We don't...*/
.content p{
    margin: 0;
    padding-top: 10px;
    color:white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

/*list*/
.content ul{
    margin: 0;
    padding-top: 40px;
    color:white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

/* checkbox content*/
.checkbox p{
    display: inline;
    color:white;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}

.checkbox button{
    width: 180px;
    height: 50px;
    background-color: #00ffff;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight:700;
    color: #0b1840;

}